extend layout
block content
    h3 What is the experiment for
    p
        | This experiment tries to find out if the amount
        | of lines of code a programmer can remember
        | is influenced by not programming.
    p
        | This experiment is only for measuring the
        | <b>short-term</b>
        | correlation between the amount of programming
        | done recently and the ability to recall lines
        | of code. Research shows that a correlation
        | exists between the amount of lines a programmer
        | can recall and the programmer's performance.
        | (//todo: add reference)

    h3 Questionnaire in the experiment
    p
        | When you participate in this experiment you
        | will be asked how long since you last did
        | some coding.
        | You will also be asked some other questions.
        | We ask these because we want to see whether
        | other factors influence the correlation
        | (short-term)

    h3 Who can participate?
    p
        | If you have <b>never</b> done any programming
        | before, your input can still be very useful as
        | part of a control group.
        | If you have not done any programming in a <b>long
        | time</b>, your input can be very useful as well.
    p
        | In short: <b><i>everyone's input is valued</i></b>