extend layout
block content
    h1
        | About this experiment
    p.lead
        | This experiment is to see if the amount
        | of lines of code a programmer can remember
        | is influenced by vacation.
    p
        | If you participate in this experiment you
        | will be asked how long since you last did
        | some coding.
    p
        | You will also be asked some other questions.
        | We ask these because we want to see whether
        | other factors influence the correlation
        | (short-term)
    p
        | This experiment is only for measuring the
        | <b>short-term</b>
        | correlation between the amount of programming
        | done recently and the ability to recall lines
        | of code.
    p
        | If you have <b>never</b> done any programming
        | before, your input can still be very useful as
        | part of a control group.
        | If you have not done any programming in a <b>long
        | time</b>, your input can be very useful as well.
    p
        | In short: <b><i>everyone's input is valued</i></b>