extend layout
block content
    h3 What is the experiment for?
    p
        | This experiment is for my bachelor's thesis.
        | The general topic of my bachelor's thesis is
        | <b>Deliberate Practice in Software Development</b>.
        | If you would like to read it when it's finished, please
        | <a href="/contact">contact me</a>.

    h3 How will the experiment work?
    ol
        li Fill in some standard questions
        li Memorize a code fragment (5 minutes)
        li Type in as much as you can remember
        li See how well you did!

    h3 Who can participate?
    p
        | Everyone! If you can read and write, you can participate.

    .starter-template
        a.btn.btn-lg.btn-primary.btn-block(href='/experiment') Go to the experiment!