extend layout
block content
    form#contactForm(role="form", action="/contact", method="POST")
        .form-group
            label(for='email') Email address
            input#email.form-control(name="email", type='email', placeholder='Your Email Address', autofocus='')

        .form-group
            label(for='name') Name
            input#name.form-control(name="name", type='text', placeholder='Your Name', autofocus='')

        .form-group
            label(for='title') Subject
            input#title.form-control(name="title", type='text', placeholder='Title goes here', autofocus='')

        .form-group
            label(for='message') Message
            textarea#message.form-control(name="message", form="contactForm", rows="8", autofocus='')

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Send