extend layout

include mixins/snippet

block content
    .starter-template
        if askForFollowUp
            h2 Follow up experiment
            p
                | Now that you've finished the experiment, I can tell
                | you about the follow-up experiment. It's the same
                | as this experiment but one week from today.

            form(action="/experiment/followup", method="POST")
                .form-group
                    label(for='email') Do you want me to send you a reminder via email?
                    input#email.form-control(name="email", type='email', placeholder='Email address', required='', autofocus='')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Send me a reminder!

        h2 Results of experiment
        h3 Original:
        +snippet(expected)

        h3 Your input:
        +snippet(actual)

