extend layout

include mixins/snippet

block content
    h2 Thank you!
    p
        | Thank you for participating in this experiment!
        | Your input has been received. You can now close this website.
    p
        | If you are interested, you can see the original
        | code fragment and your input at the bottom of this page.
    p
        | There is no score at the moment. There are
        | many different methods to calculate the score.
        | Based on the inputs of this experiment
        | the most applicable scoring method will be decided.

    h3 Original:
    +snippet(expected)

    h3 Your input:
    +snippet(actual)

