extend layout

include mixins/snippet

block content
    h2 Thank you!
    p
        | Thank you for participating in this experiment!
        | Below you can see the original code snippet and what you recalled.
    p
        | There is no score at the moment, because there are
        | many different ways to calculate the score. And I have not
        | yet decided which way is most applicable.

    h2 Results of experiment
    h3 Original:
    +snippet(expected)

    h3 Your input:
    +snippet(actual)

