extend layout
block content
    form.form-signup(action="/signup", method="POST")
        h2.form-signin-heading Please register
            label.sr-only(for='name') Name
            input#name.form-control(name="name", type='text', placeholder='Name', autofocus='')

            label.sr-only(for='age') Age (years)
            input#age.form-control(name="age", type='number', placeholder='Age (years)', autofocus='')

            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(name="email", type='email', placeholder='Email address', required='', autofocus='')

            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(name="password", type='password', placeholder='Password', required='')

            label.sr-only(for='jobExperience') Professional programming experience.(years)
            input#jobExperience.form-control(name="jobExperience", type='number', placeholder='Professional programming experience. (years)', required='')

            label.sr-only(for='totalExperience') Total programming experience including education, hobby. (years)
            input#totalExperience.form-control(name="totalExperience", type='number', placeholder='Total programming experience including education, hobby. (years)', required='')

            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    p
        a(href="/login") Already have an account?
